<div class="container">
  <div class="container mt-3">
    <div class="page-header col-sm-5">
      <h2>
        About
      </h2>
    </div>
    <div class="col-sm-9">
      <p>
        This is application in development by Gerardas Martynovas for 2019 year course work at Vilnius University.
      </p>
      <p>
        Goals:
      </p>
      <ul class="list-group">
        <li class="list-group-item">Support Linux, Windows and MacOS operating systems.</li>
        <li class="list-group-item">Support CRUD for games</li>
        <li class="list-group-item">Support showing list of created games</li>
        <li class="list-group-item">Support launching game in a new window</li>
      </ul>
    </div>
  </div>
</div>
