<div class="container">
  <div class="container mt-3">
    <div class="page-header col-sm-5">
      <h2>
        Edit Mindfight
      </h2>
    </div>
    <div class="col-sm-5">
      <form [formGroup]="gameEditForm" (ngSubmit)="editGame()">

        <!-- Name input field -->
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
          <mat-error *ngIf="name.invalid && name.touched">
            Name is invalid
          </mat-error>
        </mat-form-field>
        <br>

        <!-- Date input field -->
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="gameDate" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="gameDate"></mat-datepicker-toggle>
          <mat-datepicker #gameDate></mat-datepicker>
          <mat-error *ngIf="date.invalid && date.touched">
            Date is invalid
          </mat-error>
        </mat-form-field>
        <br>

        <!-- Location input field -->
        <mat-form-field>
          <mat-label>Location</mat-label>
          <input matInput formControlName="location">
          <mat-error *ngIf="location.invalid && location.touched">
            Location is invalid
          </mat-error>
        </mat-form-field>
        <br>

        <carousel-component [mode]="'horizontal'" [morePairSlides]="6" [angle]="15" #topCarousel>
          <div class="item-carousel" *ngFor="let slide of slides">
            <p>
              Question: {{ slide.question }}
            </p>
            <p>
              Time to answer: {{ slide.time }} seconds
            </p>
          </div>

          <div class="item-carousel">
            <button mat-icon-button matTooltip="Add new slide" (click)="editSlide()" class="iconbutton" color="accent">
              <mat-icon aria-label="Add">note_add</mat-icon>
            </button>
          </div>
        </carousel-component>

        <hr>
        <button mat-raised-button [disabled]="gameEditForm.invalid" color="primary">Save</button>
      </form>
    </div>
  </div>
</div>
